---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "whiteglass";

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

div.mermaid {
  text-align: center;
}

a {
  color: #0366d6;
  text-decoration: none;

  &:visited {
    color: darken(#0366d6, 10%);
  }

  &:hover {
    color: #0366d6;
    text-decoration: underline;
  }
}

.centerImage {
  display: block;
  margin: 0 auto;
}

.links {
  a.btn {
    color: #000000;
    border: 1px solid #000000;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    &:hover {
      color: #0366d6;
      border-color: #0366d6;
    }
  }
}

.page-link {
  &:hover {
    color: #0366d6;
    text-decoration: underline;
  }
}
